/* this is where the custom css framework for this project goes*/
/* here you have to develop only the styles classes to use on most common elements such as buttons, drowdowns, inputs, links, listitem and etc */
/* also include all variable in here */
.mainlogo{

}

.formbg{
    width:271px;
    height: auto;
    background-color: #dadada;
    border-radius: 20px;
}
