/* all the custom css styles will goes here.  */
/* custom css, media queries and animations will goes here */
/*
 the heirachy of code should be like this
- variables if exists
- pc size styles (directly without media queries)
- tablet size styles (with media queries)
- mobile size styles (with media queries)
- animations
*/
/* each class name must indicate the usecase or used UI referance along with funtionality (ex: .reminder-list-container <- here the first word indicate the location and others will describe the functionality) */


.formdata {
  margin-bottom: 14px;
  padding: 0%;
  background-color: #dadada;
}

.mainlogo {

}

.formbg {

  background-color: #dadada;
  border-radius: 20px;
  
  height: auto;
}

.test {
  background-color: rgb(33, 122, 255);
}

.submitBtn{
  padding: 15px 26px;
  width: auto;
  border: 0;
  border-radius: 100px;
  background-color: #bebebe;
  font-size: 20px;
  font-weight: bold;
}